.Nav {

    padding: 10px;
    /* display: flex; */
    background-color: black;
    color: white;
    margin-left: 15px;

}


h1 {
    color: red
}

.NavItems {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.link-style{
    color:white;
    text-decoration: none;
}

.link-style:hover {
    color: grey
}


/* display: grid;
    grid-template-columns: (7,auto);
    grid-gap: 10px; */